[flake8]
show-source = True
statistics = False
doctests = True

# Plugins:
accept-encodings = utf-8
max-complexity = 6
max-line-length = 120
use_class_attributes_order_strict_mode = True
max_function_length = 50
max-cognitive-complexity = 8
max-annotations-complexity = 4

# Excluding some directories:
exclude =
  .git
  __pycache__
  .venv
  .eggs
  *.egg
  dist
  manage.py
  apps/*/migrations/*.py
  apps/*/apps.py
  apps/*/api/viewsets/*.py
  apps/*/admin/*.py
  apps/*/management/commands/schemas.py
  tests/

# Self settings:
max-imports = 15

ignore = D100, D104, D106, D401, X100, W504, RST303, RST304, DAR103, DAR203, WPS300, WPS305, DAR101, DAR201, WPS602, WPS226

per-file-ignores =
  config/settings/*.py: WPS226, WPS407, WPS412, WPS432
  apps/*/models.py: WPS306, WPS420, D101, D105, WPS604, WPS323, WPS305, WPS432
  apps/*/models/*.py: WPS306, WPS420, D101, D105, WPS604, WPS323, WPS305, WPS432, F401, WPS412, WPS237, WPS221
  apps/*/admin.py: D101, WPS226
  apps/*/forms.py: D101, WPS306, D101
  apps/*/api/serializers.py: WPS306
  apps/*/api/permissions.py: WPS110, D101, D102
  apps/*/api/pagination.py: WPS110, D101, D102
  apps/*/api/serializers/*.py: WPS306, D101, WPS615
  apps/*/api/filters/*.py: WPS306, DAR101, DAR201
  apps/*/api/serializers/__init__.py: WPS412, F401
  apps/*/services/__init__.py: WPS412, F401
  apps/*/services/__init__.py: WPS412, F401
